html {
    background-color: #2E3440;
    color: #D8DEE9;
    font-family: 'Nunito', sans-serif;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    background-color: #3B4252;
    color: #D8DEE9;
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#home-button {
    color: #D8DEE9;
    text-decoration: none;
    margin-left: 10px;
    font-size: 40px;
    font-weight: 900;
}

#account-button {
    color: #D8DEE9;
    text-decoration: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 150ms ease-out background-color;
}

#account-button:hover {
    background-color: #4C566A;
}

#cart-button {
    color: #D8DEE9;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 150ms ease-out background-color;
}

#cart-button:hover {
    background-color: #4C566A;
}

#footer {
    background-color: #3B4252;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#basketball-button {
    background-color: #D8DEE9;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4/3;
    height: 240px;
    border-radius: 10px;
    margin: 10px;
    color: #D8DEE9;
    text-decoration: none;
    
}

#bbpng {
    max-width: 50%;
    max-width: 50%;
}