@import url(nord.css);

html {
    background-color: var(--nord0);
    color: var(--nord4);
    font-family: 'Nunito', sans-serif;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    background-color: var(--nord1);
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#home-button {
    color: var(--nord4);
    text-decoration: none;
    margin-left: 10px;
    font-size: 40px;
    font-weight: 900;
}

#account-button {
    color: var(--nord4);
    text-decoration: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 150ms background-color;
}

#account-button:hover {
    background-color: var(--nord3);
}

#cart-button {
    color: var(--nord4);
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 150ms background-color;
}

#cart-button:hover {
    background-color: var(--nord3);
}

#footer {
    background-color: var(--nord1);
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#basketball-button {
    background-color: var(--nord4);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4/3;
    height: 240px;
    border-radius: 10px;
    margin: 10px;
    color: var(--nord8);
    text-decoration: none;
    transition: 150ms border;
}

#basketball-png {
    max-height: 160px;
}